{% extends 'layout.html' %}
{% block body %}
<title>
    Join The Scientific Committee
</title>
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Become a Scientific Committee</h1>
            <nav aria-label="breadcrumb animated slideInDown">
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Committee</p>
                <h1>Our Experience Committee</h1>
            </div>
            <div class="row g-4">
                
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/Dr-Leszek-Ziora.jpg') }}" alt="" style="width: 300px; height: 300px; object-fit: cover;">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Leszek Ziora, Ph.D.</h5>
                            <p class="text-primary">Poland</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/narendra.jpg') }}" alt="" style="width: 300px; height: 300px; object-fit: cover;">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Narendra Kumar, Ph.D.</h5>
                            <p class="text-primary">India</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/mamta.jpg') }}" alt="" style="width: 300px; height: 300px; object-fit: cover;">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Mamta Chahar, Ph.D.</h5>
                            <p class="text-primary">India</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/ilona.webp') }}" alt="" style="width: 300px; height: 300px; object-fit: cover;">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Prof.(Dr.) Ilona Paweloszek, Ph.D.</h5>
                            <p class="text-primary">Poland</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/dorota.webp') }}" alt="" style="width: 300px; height: 300px; object-fit: cover;">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Prof.(Dr.) Dorota Jelonek</h5>
                            <p class="text-primary">Poland</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/dr-sanjeev-sir.webp') }}" alt="" style="width: 300px; height: 300px; object-fit: cover;">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Prof.(Dr.) Sanjeev Kumar</h5>
                            <p class="text-primary">India</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/alok.webp') }}" alt="" style="width: 300px; height: 300px; object-fit: cover;">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Prof.(Dr.) Alok Aggrawal, Ph.D.</h5>
                            <p class="text-primary">India</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
     
{% endblock %}