{% extends 'layout.html' %}
{% block body %}

<style>
    .dates-table th {
        padding: 20px;
        font-size: 1.2rem;
        background-color: #d12149;
        color: white;
    }
    
    .dates-table td {
        padding: 20px;
        font-size: 1.1rem;
    }
</style>

<title>
    Detailed Schedule
</title>
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Detailed Schedule</h1>
            <nav aria-label="breadcrumb animated slideInDown">
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Important Dates Table -->
<div class="container mt-5">
    {% for schedule in schedules %}
    <div class="table-responsive">
        <table class="table table-bordered dates-table" style="border-radius: 15px; overflow: hidden;">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>{{ schedule.date.strftime('%B %d, %Y') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for day_detail in schedule.day_details %}
                <tr>
                    <td>{{ day_detail.start_time.strftime('%I:%M %p') }} - {{ day_detail.end_time.strftime('%I:%M %p') }}</td>
                    <td>{{ day_detail.description }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>


{% endblock %}