{% extends 'layout.html' %}
{% block body %}

<title>
    Submission Guidelines
</title>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Submission Guidelines</h1>
        <nav aria-label="breadcrumb animated slideInDown">
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Content Start -->
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <p class="mb-4">
               {{ guidelines.description }}
            </p>

            <div class="accordion" id="reviewProcessAccordion">
                <!-- Reviewer Selection -->
                {% for question in guidelines.questions %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne">
                            {{ question.question }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#reviewProcessAccordion">
                        <div class="accordion-body">
                            <ul>
                               
                                <li> {{ question.answer }} </li>
                            </ul>   
                        </div>
                    </div>
                </div>
                {% endfor %}
                        
                
               
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
{% endblock %}